body {

    background-color: rgb(103, 196, 196);
}

.front {

    text-align: center;
}

.title {

    font-weight: 900px;
    color: white;
    text-align: center;
  
}

.picture {

    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

