/*General Website Style rules */
body {

    background-color: rgb(103, 196, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.homepage-title {

    font-weight: 600px;
    text-align: center;
  
}

.main-picture {

    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-title {

    text-align: center;
}
